.tag {
    position: relative;
    display: inline-block;
    padding: 4px;
    color: #fff;
    margin-inline: 2px;
    margin-block: 4px;
    font-weight: bold;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    .background {
        filter: opacity(70%);
    }
}