---
import Layout from '../layouts/Layout.astro';
import Skills from "../components/Skills/Skills";
import Socials from "../components/Socials/Socials";
---

<Layout title="Yasin Yildiz - Software Engineer">
	<main class="main">
		<div class="head">
			<div>
				<img src="/profile.jpeg"
					   alt="Yasin Yildiz"
					   class="profile" />
			</div>

			<div>
				<h1>Yasin Yildiz</h1>
				<p>Software Engineer</p>
				<br/>
				<p>Hello, I am Yasin. I am a software engineer based in Germany, currently working for Deutsche Bahn.</p>
			</div>
		</div>

		<Socials/>

		<Skills/>
	</main>
</Layout>

<style>
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		padding: 4rem;
		min-height: 100vh;
		text-align: center;
	}

	.head {
		display: flex;
		gap: 48px;
		max-width: var(--max-width);
		text-align: start;
	}

	.profile {
		border-radius: 80px;
		height: 150px;
		width: 150px;
	}

	/* Mobile */
	@media (max-width: 700px) {
		.head {
			flex-direction: column;
			gap: 32px;
			text-align: center;
		}
	}
</style>
