.mailIcon {
    height: 32px;
    margin-left: 6px;
}

.githubIcon {
    height: 32px;
}

.linkedinIcon {
    height: 32px;
}

@media (prefers-color-scheme: dark) {
    .darkInvert {
        filter: invert(1);
    }
}